@model Weather

@{
    ViewData["Title"] = "Weather Page";
}

<div class="text-center">
    @if (Model == null)
    {
        <h1 class="display-4">The website ran into an issue, please try again later.</h1>
    }
    else
    {
        <h1 class="display-4">The temperature is @Model.Temperature °F</h1>
    }


</div>
