@model Weather

@{
    ViewData["Title"] = "Weather Page";
}

<div class="text-center">
    @if (Model != null)
    {
        <h1 class="display-4">The temperature is @Model.Temperature °F</h1>
    }
    else
    {
        <h1>Something Went Wrong</h1>
        <p>Please reload the page to try again.</p>
    }
</div>
