@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Weather Challenge</h1>
    <p>Hi! We need your help. Our developer just decided to quit and now we are left with this half working application. Your mission should you choose to accept it is to fix this app!</p>
    <p>What's broken you ask? The API that returns the temperature randomly returns a 500 response and there is no logging in place. Not to mention, the Weather page completely blows up when this happens. This is what you need to do:</p>
    <ol>
        <li>Add Entity Framework Core and create a table that logs success and failed requests from the API</li>
        <li>Prevent the weather page from showing errors and display a friendly message instead</li>
        <li>Create a new page "Statistics" that displays the failure percentage, use the data you collected to perform the calculation.</li>
    </ol>
</div>
